.username {
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
}

.description {
  font-size: large;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
}

.heading {
  font-size: 25px;
  font-weight: bold;
  margin-left: 15px;
  margin-bottom: 20px;
  margin-top: 40px;
}

#type {
  font-size: 20px;
  font-weight: bold;
  margin-left: 15px;
}

#img {
  height: 15%;
  width: 15%;
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

.paragraph {
  margin-left: 15px;
  font-size: medium;
}

.text {
  font-size: large;
  margin-left: 15px;
  margin-right: 15px;
  font-weight: lighter;
  font-size: medium;
}

#link {
  font-weight: lighter;
  font-size: large;
  margin-left: 30px;
}

.topsection {
  background-color: rgb(134, 252, 173);
  padding: 10px;
}

.list {
  list-style: none;
}

.subHead {
  font-size: 20px;
}

.Menu {
  background-color: rgb(254, 254, 147);
  padding: 10px;
  width: 200px;
  height: 200px;
}

.info {
  margin: auto;
  width: 50%;
  padding: 10px;
}
