body {
  margin: 0;
  width: 100%;
  color: white;
  font-family: system-ui;
  background-image: url(/images/background.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}

/* ============================ This is the nav bar ============================= */

/* The navigation bar */
.navbar { 
  display: block;
  position: fixed;
  background-color: #020744;
  height: 40px;
  width: 100%;
  margin-top: 0;
  margin-bottom: 5px; 
  z-index: 1;
}

/* Links inside the navbar */
.navbar a {
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 15px;
  float: right;
}

/* Change background on mouse-over */
.navbar a:hover {
  background: white;
  color: black;
}








/* ======================== This is the top section of the web page ======================= */

header {
  position: relative;
}

/* This is the header of the entire top section */
#hero {
  display: flex;
  width: 100%;
  background-color: rgb(8, 1, 44);
  color: white;
  background-image: url("/images/background.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
}

/* This is the head content which include paragraph */
.header-content {
  margin-top: 20px;
  margin-left: 50px;
  padding-top: 20px;
  padding-bottom: 5px;
  font-size: large;
}

/* This is the image */
#header-image {
  background-position: ;
  position: relative;
  top: 50px;
  margin-left: 10px;
  border-radius: 10%;
  width: 250px;
  height: 210px;
}







/* Button style */
.btn {
  background-color: rgb(78, 198, 94);
  border-radius: 50%;
  border: solid 1px rgb(92, 206, 97);
  width: 40px;
  height: 40px;
}

/* Button positioning */
.back-to-top {
  position: fixed;
  width: 100%;
  margin-left: 95%;
  bottom: 80px;
  margin-right: 80px;
  margin-bottom: 80px;
}




/* ======================== This is the content of the page ========================= */


.info {
  margin: auto;
  width: 50%;
  padding: 10px;
}


.heading {
  font-size: 25px;
  font-weight: bold;
  margin-left: 15px;
  margin-bottom: 20px;
  margin-top: 20px;
  text-align: left;
}


#type {
  font-size: 20px;
  font-weight: bold;
  margin-left: 15px;
}


.paragraph {
  margin-left: 15px;
  font-size: medium;
  font-family: system-ui;
}

.text {
  font-size: large;
  margin-left: 15px;
  margin-right: 15px;
  font-size: medium;
  font-family: system-ui;
}








/* =========================== The footer/bottom section =========================== */



.footer {
  overflow: hidden;
  background-color: #020744; 
  bottom: 0; 
  width: 100%; 
  text-align: center;
  color: white;
  padding: 0;
  text-indent: 15px;
  font-size: large;
  margin-left: 0;
  margin-right: 0;
  padding-top: 2px;
  padding-bottom: 2px;
}


#mail {
  font-size: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

#_subject {
  font-size: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}


.submit {
  font-size: large;
  margin-top: 5px;
  margin-bottom: 5px;
}

#link {
  float: right;
  margin-right: 20px;
  margin-bottom: 20px;
}


/* ====================== Mobile device ========================= */

@media only screen and (min-width: 319px) and (max-width: 425px) {
  .navbar {
    height: 20px;
  }
  .navbar a {
    padding: 3px;
    float: right;
    font-size: 10px;
  }

  #hero {
    padding-top: 0;
  }
  
  #header-image {
    width: 105px;
    height: 105px;
    border-radius: 50%;
  }

  .header-content {
    margin-top: 5px;
    margin-left: 15px;
    padding-top: 20px;
    padding-bottom: 5px;
    font-size: 10px;
  }
  .heading {
    font-size: 10px;
    font-weight: bold;
    margin-left: 7px;
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: left;
  }
  .btn {
    display: none;
  }

  #type {
    font-size: 10px;
    font-weight: bold;
    margin-left: 15px;
  }
  
  
  .paragraph {
    margin-left: 15px;
    font-size: 10px;
  }
  .text {
    font-size: 10px;
    margin-left: 15px;
    margin-right: 15px;
    font-weight: lighter;
  }
  .footer {
    text-indent: 5px;
    font-size: 10px;
    
  }

  #mail {
    font-size: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
  }
  
  #_subject {
    font-size: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
  }
  
  .submit {
    font-size: 10px;
    margin-top: 5px;
    margin-bottom: 2px;
}

}



/* ====================== Tablet ========================= */

@media only screen and (min-width: 426px) and (max-width: 768px) {
  .navbar {
    height: 35px;
  }
  .navbar a {
    padding: 9px;
    float: right;
    font-size: 15px;
  }

  #hero {
    padding-top: 15px;
  }
  
  #header-image {
    width: 170px;
    height: 160px;
    border-radius: 30%;
  }

  .header-content {
    margin-top: 20px;
    margin-left: 20px;
    padding-top: 25px;
    padding-bottom: 10px;
    font-size: 15px;
  }
  .heading {
    font-weight: bold;
    margin-left: 7px;
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: left;
  }
  .btn {
    display: none;
  }

  #type {
    font-size: 20px;
    font-weight: bold;
    margin-left: 15px;
  }
  
  
  .paragraph {
    margin-left: 20px;
    font-size: 15px;
  }
  .text {
    font-size: 15px;
  }
  .footer {
    text-indent: 5px;
    font-size: 15px;
    
  }

  #mail {
    font-size: 15px;
  }
  
  #_subject {
    font-size: 15px;
  }
  
  .submit {
    font-size: 15px;
}

}

/* ====================== Laptop ========================= */

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .navbar {
    height: 55px;
  }
  .navbar a {
    padding: 15px;
    float: right;
    font-size: 20px;
  }

  #hero {
    padding-top: 20px;
  }
  
  #header-image {
    width: 280px;
    height: 240px;
    border-radius: 20%;
  }

  .header-content {
    margin-top: 30px;
    padding-top: 20px;
    padding-bottom: 10px;
    font-size: 20px;
  }

  #type {
    font-size: 20px;
    font-weight: bold;
    margin-left: 15px;
  }
  
  
  .paragraph {
    margin-left: 20px;
    font-size: 20px;
  }
  .text {
    font-size: 20px;
  }
  .footer {
    text-indent: 5px;
    font-size: 20px;
    
  }

  #mail {
    font-size: 20px;
  }
  
  #_subject {
    font-size: 20px;
  }
  
  .submit {
    font-size: 20px;
}

}