body {
  margin: 0;
}

/* The navigation bar */
.navbar {
  position: fixed;
  overflow: hidden;
  background-color: #020744;
  position: sticky; 
  top: 0; 
  width: auto; 
  padding-top: 0;
  padding-bottom: 0;

}

/* Links inside the navbar */
.navbar a {
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 15px;
  float: right;
}

/* Change background on mouse-over */
.navbar a:hover {
  background: white;
  color: black;
}

/* This is the header of the entire top section */
#top {
  display: flex;
  width: auto;
  background-color: rgb(8, 1, 44);
  color: white;
  padding-top: 0;
  padding-bottom: 0;
}

/* This is the head content which include image & paragraph */
.header-content {
  position: relative;
  margin-left: 50px;
  padding-top: 10px;
  padding-bottom: 5px;
  font-size: large;
}

/* This is the image */
#header-image {
  position: relative;
  top: 20px;
  margin-left: 10px;
  border-radius: 20%;
  width: 250px;
  height:250px;
}

/* Button style */
.btn {
  background-color: rgb(78, 198, 94);
  border-radius: 50%;
  border: solid 1px rgb(92, 206, 97);
  width: 40px;
  height: 40px;
}

/* Button positioning */
.back-to-top {
  position: fixed;
  width: 100%;
  margin-left: 95%;
  bottom: 80px;
  margin-right: 80px;
  margin-bottom: 80px;
}




/* This is the content of the page */


.info {
  margin: auto;
  width: 50%;
  padding: 10px;
}


.heading {
  font-size: 25px;
  font-weight: bold;
  margin-left: 15px;
  margin-bottom: 20px;
  margin-top: 20px;
  text-align: left;
}


#type {
  font-size: 20px;
  font-weight: bold;
  margin-left: 15px;
}


.paragraph {
  margin-left: 15px;
  font-size: medium;
}

.text {
  font-size: large;
  margin-left: 15px;
  margin-right: 15px;
  font-weight: lighter;
  font-size: medium;
}








/* The footer/bottom section */



.footer {
  overflow: hidden;
  background-color: #020744; 
  bottom: 0; 
  width: auto; 
  text-align: center;
  color: white;
  padding: 0;
  text-indent: 15px;
  font-size: large;
  margin-left: 0;
  margin-right: 0;
  padding-top: 2px;
  padding-bottom: 2px;
}


#mail {
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

#_subject {
  font-size: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

#text {
  width: 27%;
  text-align: left;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 0;
  border-radius: 5px;
}

.submit {
  font-size: x-large;
  margin-top: 5px;
  margin-bottom: 5px;
}

#link {
  text-align: center;
  margin-right: 20px;
  margin-bottom: 20px;
  color: white;
}
